.NavBar{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: var(--verdeOscuro);
    position: relative;
}

.NavBar h4{
    margin:0 ;
}

.title{
    display: flex
}

.title img {
    height: 35px;
    margin: 22.5px 0 22.5px 25px;
}

.title img:hover{
    position: absolute;
    height:37.5px;
    margin: 21.25px 0 21.25px 23.75px;
}

.title h1 {
    position: absolute;
    height: fit-content;
    margin-block: 0;
    padding: 0;
    /* margin: 0; */
    margin-top: 30px;
    font-size: 20px;
    margin-left: 70px;
}

.buttons{
    position: absolute;
    display: flex;
    margin-left: 250px;
    margin-top: 31.375px;
}
.buttons a{
    height: fit-content;
}
.buttons button {
    /* display: flex; */
    justify-content: space-between;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
}

.buttons button:hover{
    color:var(--letrasHover);
    transition: color .5s;
}

.searchBar{
    height: 25px;
display: flex;
position: absolute;
top: 50%;
margin-top: -12.5px;
right: 50px;
}

.searchBar input{
    height: 22px;
    border: 1px solid black;
    background: none;
    border-radius: 10px;
    margin: 0 5px;
    padding: 0 10px;
}

.searchBar .searchBarButton{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.searchBar .searchBarButton:hover{
    color: var(--letrasHover);
    transition: color .5s;
}

.ordersFilters{
    height: 30px;
    width: 100%;
    background-color: var(--verdeClaro);
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.ordersFilters h4{
    margin: 0;
    height: fit-content;
    margin-top: 7px;
    padding: 0;
    margin-right: 10px;
}

.orders{
    display: flex;

}
.orders select{
    margin: 4px 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background: none;
    border-radius: 15px;
}
.orders select:hover{
    color: var(--letrasHover);
    transition: color .5s;
    background: var(--verdeOscuroTrans);
    transition: background .5s;
}


.filters{
    display: flex;
}

.filters select {
    margin: 4px 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
}


.filters select:hover{
    color: var(--letrasHover);
    transition: color .5s;
    background: var(--verdeOscuroTrans);
    transition: background .5s;
}